body{
    display: flex;
    margin: 0px;
    height: 100vh;
    padding: 0px;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding-top: 16px;
    padding-right: 64px;
    padding-bottom: 16px;
    padding-left: 64px;
    border-bottom: 1px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: #D6DEE5;
    border-style: solid;
}

.header .scaler-logo{
    width: 117px;
    height: 34px;
    padding: 0px, 0px, 0px, 0px;
}

.header .scaler-social{
    width: 234px;
    height: 29px;
    gap: 12px;
}

.ctn-body{
    display: flex;
    height: 100%;
    overflow: auto;
    width: 100vw;
}

.post{
    background: #ECF8FF66;
    height: inherit;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.post .text{
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1A2C47;
}
.post .post-card{
    width: 500px;
    padding: 24px;
    border-radius: 8px;
    border:#D6DEE5 1px solid;
    background-color: #FFFFFF;
    color: #D6DEE5;
    gap: 20px;


}
.tbox-outer{
    display: flex;
    gap: 10px;
}
.tbox-outer img{
    width: 48px;
    height: 48px;

}

.tweetbox{
    width: 413px;
    height: 126px;
    resize: none;
    border: 0px;
    font-size: 16px;
    color: #91A1B7;
}

.btm-container{
    border-bottom: 0px;
    border-top: 1px;
    border-right: 0px;
    border-left: 0px;
    border-color: #F4F6F9;
    border-style: solid;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;

}
.post-card .btm-container button{
    background-color: #0041CA;
    border: 0px;
    color: white;
    font-weight: 600;
    width: 112px;
    height: 38px;
    border-radius: 100px;
}

.post-card .btm-container :hover{
    background-color: #215ee4;
}

.feed{
    background-color: white;
    height: inherit;
    width: 40%;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 20px;

    overflow:scroll;
    overflow-x:hidden;
}
.feed .text{
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1A2C47;
}

.tweets{
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    align-items: flex-end;
}



.feed-tweet-outer div div{
    display: flex;
    justify-content: space-between;
}
.feed-tweet-outer{
    padding: 24px;
}
#edit{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#delete{
    width: 15px;
    height: 16.56px;
    cursor: pointer;

}
#chat{
    width: 19.48px;
    height: 19.48px;

}
#like{
    width: 20.25px;
    padding: 5px;
    height: 18px;
}
.username{
    font-weight: 600;
    padding: 5px;
    font-size: 16px;
}
.userid{
    font-weight: 400;
    color: #61738E;
    font-size: 14px;
}

.feed-tweet-outer{
    border: 1px #D6DEE5 solid;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: inherit;
}



.comments{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 10px;
    padding-bottom: 10px;
}

.new-comment .btm-container div button{
    background-color: #0041CA;
    border: 0px;
    color: white;
    font-weight: 600;
    width: 112px;
    height: 38px;
    border-radius: 100px;
}

.new-comment .btm-container div span button{
    background-color: white;
    color: #91A1B7;
    border: 1px #91A1B7 solid;
}

.comment-ctn{
    width: fit-content;
}
